-# %ul#slider
-#   %li
-#     = image_tag "https://media.gettyimages.com/photos/sporty-man-running-up-steps-in-urban-setting-picture-id631184594?s=2048x2048", width: "100%", height: "100%" 
-#   %li
-#     = image_tag "https://media.gettyimages.com/photos/time-to-clock-another-personal-best-picture-id916060452?s=2048x2048", width: "100%", height: "100%"
-#   %li
-#     = image_tag "https://media.gettyimages.com/photos/senior-african-american-man-drinking-water-picture-id891167436?s=2048x2048", width: "100%", height: "100%"
-#   %li
-#     = image_tag "https://media.gettyimages.com/photos/run-with-the-sun-picture-id499778755?s=2048x2048", width: "100%", height: "100%"
-#   %li
-#     = image_tag "https://media.gettyimages.com/photos/get-laced-up-and-get-going-picture-id1024678676?s=2048x2048", width: "100%", height: "100%"
#account-page.account-page
  .account-page__inner.clearfix
    .account-page__inner--left.account-page__header
      %h2 Edit Account
      -# %h5 アカウントの編集
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'
      = link_to "トップページに戻る", :back, class: 'btn'
    .account-page__inner--right.user-form
      = form_for(current_user) do |f|
        .field
          .field-label
            = f.label :name
          .field-input
            = f.text_field :name, autofocus: true
        .field
          .field-label
            = f.label :email
          .field-input
            = f.email_field :email
        .actions
          = f.submit "Update", class: 'btn'
  -# %ul#slider
  -#   %li= image_tag "https://media.gettyimages.com/photos/sporty-man-running-up-steps-in-urban-setting-picture-id631184594?s=2048x2048", width: "100%", height: "100%"
  -#   %li= image_tag "https://media.gettyimages.com/photos/time-to-clock-another-personal-best-picture-id916060452?s=2048x2048", width: "100%", height: "100%"
  -#   %li= image_tag "https://media.gettyimages.com/photos/senior-african-american-man-drinking-water-picture-id891167436?s=2048x2048", width: "100%", height: "100%"
  -#   %li= image_tag "https://media.gettyimages.com/photos/run-with-the-sun-picture-id499778755?s=2048x2048", width: "100%", height: "100%"
  -#   %li= image_tag "https://media.gettyimages.com/photos/get-laced-up-and-get-going-picture-id1024678676?s=2048x2048", width: "100%", height: "100%"
 