.wrapper__nikkan
  .wrapper__nikkan__bar
    Today's news
    = link_to root_path do
      TOPページへ戻る
  .wrapper__nikkan__header
    .wrapper__nikkan__header__list
      = link_to "https://hochi.news/" do
        スポーツ報知
    .wrapper__nikkan__header__list
      = link_to "https://sports.yahoo.co.jp/" do
        Yahoo sports
    .wrapper__nikkan__header__list
      = link_to "https://number.bunshun.jp/" do
        Number
    .wrapper__nikkan__header__list
      = link_to "https://jp.reuters.com/news/sports" do
        Reuters
    .wrapper__nikkan__header__list
    
      = link_to "https://sportsbull.jp/" do
        Sports Bull
  .wrapper__nikkan__main
    .wrapper__nikkan__main__list
      .wrapper__nikkan__list__side
        .wrapper__nikkan__list__side__a
          = @text
          = @time
        .wrapper__nikkan__list__side__a
          = @text1
          = @time1
        .wrapper__nikkan__list__side__a
          = @text2
          = @time2
        .wrapper__nikkan__list__side__a
          = @text3
          = @time3
        .wrapper__nikkan__list__side__a
          = @text4
          = @time4
    .wrapper__nikkan__main__list
      .wrapper__nikkan__list__side__b
        = @textsp
      .wrapper__nikkan__list__side__b
        = @textsp1
      .wrapper__nikkan__list__side__b
        = @textsp2
      .wrapper__nikkan__list__side__b
        = @textsp3
      .wrapper__nikkan__list__side__b
        = @textsp4
        
    .wrapper__nikkan__main__list
      .wrapper__nikkan__list__side
        .wrapper__nikkan__list__side__c
          = image_tag @imagen1
          = @texty1
          = @timen1 
        .wrapper__nikkan__list__side__c
          = image_tag @imagen2
          = @texty2
          = @timen2
        .wrapper__nikkan__list__side__c
          = image_tag @imagen3
          = @texty3
          = @timen3
        .wrapper__nikkan__list__side__c
          = image_tag @imagen4
          = @texty4
          = @timen4
        .wrapper__nikkan__list__side__c
          = image_tag @imagen5
          = @texty5
          = @timen5

       
    .wrapper__nikkan__main__list
      .wrapper__nikkan__list__side
        .wrapper__nikkan__list__side__d
          - if @imagey1.present?
            = image_tag @imagey1, class: "img"
            = @textro1
        .wrapper__nikkan__list__side__d
          - if @imagey2.present?
            = image_tag @imagey2, class: "img"
            = @textro2
        .wrapper__nikkan__list__side__d
          - if @imagey3.present?
            = image_tag @imagey3, class: "img"
            = @textro3
        .wrapper__nikkan__list__side__d
          = @textro4
        .wrapper__nikkan__list__side__d
          - if @imagey5.present?
            = image_tag @imagey5, class: "img"
          = @textro5
       
    .wrapper__nikkan__main__list
      .wrapper__nikkan__list__side
        .wrapper__nikkan__list__side__e
          = image_tag @imageb1, class: "img"
          = @textsb1
          = @timeb1 
        .wrapper__nikkan__list__side__e
          = image_tag @imageb2, class: "img"
          = @textsb2
          = @timeb2
        .wrapper__nikkan__list__side__e
          = image_tag @imageb3, class: "img"
          = @textsb3
          = @timeb3
        .wrapper__nikkan__list__side__e
          = image_tag @imageb4, class: "img"
          = @textsb4
          = @timeb4
        .wrapper__nikkan__list__side__e
          = image_tag @imageb5, class: "img"
          = @textsb5
          = @timeb5
        .wrapper__nikkan__list__side__e
          = image_tag @imageb6, class: "img"
          = @textsb6
          = @timeb6
        .wrapper__nikkan__list__side__e
          = image_tag @imageb7, class: "img"
          = @textsb7
          = @timeb7 

  .wrapper__nikkan__bottom